.table {
  display: table;
  box-sizing: border-box;
  border-spacing: 2px;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  width: 100%;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

td {
  display: table-cell;
  padding: 1rem;
  vertical-align: top;
}

th, td {
  padding: 1rem;
  vertical-align: top;
}

th {
  text-align: start;
}

@media screen and (min-width: 700px) {
  th, td {
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
  }
}

.account_page_overlay {
  color: rgb(8, 105, 56);
  font-family: 'Rubik', sans-serif;
  background-color: #fff;
}

.account_page_main {
  position: relative;
  padding-block-start: 2rem;
  padding-block-end: 3.5rem;
}

.account_page_main_wrapper {
  gap: 1.5rem;
  display: grid;
  position: relative;
}

.account_page_main_container {
  gap: 1.25rem;
  display: grid;
}

.account_page_header {
  background-color: rgba(252, 244, 239);
}

.account_page_header_wrapper {
  margin-inline-start: max(3rem, 50% - 1600px / 2);
  margin-inline-end: max(3rem, 50% - 1600px / 2);
  display: flex;
  position: relative;
  justify-content: center;
}

.account_page_greeting {
  font-size: 18px;
}

.account_page_order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #e3e3e3;
}

.account_page_buttons {
  padding-block-start: 1.125rem;
  padding-block-end: 1.125rem;
  cursor: pointer;
  font-size: 18px;
}

@media screen and (min-width: 700px) {
  .account_page_buttons {
    right: 0;
    position: absolute;
  }
}

.account_page_continue_shopping_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.account_page_orders_wrapper {
  margin-inline-start: max(3rem, 50% - 1600px / 2);
  margin-inline-end: max(3rem, 50% - 1600px / 2);
  margin-block-start: 3rem;
  margin-block-end: 3rem;
}

.account_page_orders_container {
  gap: 1.5rem;
  max-width: 1350px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: grid;
}

@media screen and (min-width: 700px) {
  .account_page_orders_container {
    gap: 3rem;
  }
}

.account_page_orders_header {
  gap: 1.5rem;
  display: grid;
  position: relative;
}

.account_page_orders_header_wrapper {
  position: relative;
  justify-content: center;
}

.account_page_orders_header_wrapper h1 {
  margin: 0;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.01em;
  overflow-wrap: anywhere;
  font-size: 1.625rem;
  line-height: 1.2;
  text-align: center;
}

.account_page_content_table_wrapper {
  display: none;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .account_page_content_table_wrapper {
    max-width: 1024px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: table;
  }
}

@media screen and (min-width: 700px) {
  .account_page_content_table_wrapper td {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
}

.account_page_order_hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.account_page_order_hover:hover {
  background-color: rgba(252, 244, 239);
}