@import url('https://fonts.googleapis.com/css2?family=Trade+Gothic+Next:wght@400;700&display=swap');

.cart_container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  font-family: 'Trade Gothic Next', sans-serif;
}

.cart_free_shipping_container {
  margin: 0;
  padding: 20px;
  transition: background .25s ease;
  background-color: rgba(236, 29, 35, 0.2);
}

.free_shipping_text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.free_shipping_text b {
  font-weight: bolder;
}

.free_shipping_status_bar {
  position: relative;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #eee;
}

.free_shipping_status_bar_progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  margin: 0;
  padding: 0 10px;
  height: 10px;
  text-align: right;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all .25s ease;
  color: #fff;
  background: #ec1d23;
  opacity: 0;
  width: 0%;
}

.cart_empty {
  margin: 0;
  padding: 40px 20px;
  width: 100%;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #eee;
  font-size: 16px;
  font-weight: 400;

  h4 {
    color: #1b2137;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.33333em;
    margin: -0.25em 0;
    letter-spacing: .025em;
    text-align: center;
    font-size: 20px;
  }

  p {
    color: #1b2137;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
    text-align: center;
  }
}

.cart_empty_shop_now_button {
  transition: color .2 ease;
  color: #ffffff;
  background-color: #ec1d23;
  border-color: #2491C4;
  border-width: 0px;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 10px 15px;
  width: 100%;
  height: auto;
  font-size: 16px;
  border-style: solid;
  text-align: center;
  box-shadow: none;
  outline: none;
}

.cart_items_container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart_items {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #e3e3e3;
}

.cart_item_container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0 20px;
  padding: 20px 0;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #e3e3e3;
}

.item_image_container {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  width: 90px;

  a {
    display: block;

    img {
      border-style: none;
      width: 100%;
      box-sizing: border-box;
      display: block;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      min-width: auto;
      max-width: 100%;
    }
  }
}

.cart_item_info {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: relative;
  margin: 0;
  padding: 0 0 0 20px;
  width: calc(100% - 90px);
}

.cart_item_remove_button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  min-width: auto;
  min-height: auto;
  font-size: 14px;
  line-height: 20px;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  z-index: 1;
}

.cart_item_remove_button i {
  color: #999;
}

.cart_item_category {
  margin: 0;
  padding: 0 30px 0 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  width: 100%;
  background-color: transparent;
  text-transform: capitalize;
  transition: color 0.2s ease;
}

.cart_item_name {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  color: #535353;
}

.item_quantity_container {
  margin: 10px 0 0 0;
  padding: 0;
  width: 50%;
  text-align: left;
}

.item_quantity_wrapper {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
}

.item_quantity_button {
  margin: 0;
  padding: 0;
  width: 36px;
  height: 24px;
  line-height: 24px;
  min-width: auto;
  min-height: auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  background: #fff;
  color: #232323;
}

.item_quantity_number {
  width: 36px;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: #e3e3e3;
}

.item_total_price {
  margin: 5px 0 0 0;
  padding: 0;
  width: 50%;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.empty_cart_container {
  margin: 0;
  padding: 40px 20px;
  width: 100%;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #eee;
}

.empty_cart_header {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.333333em;
  margin: -0.25em 0;
  letter-spacing: 0.025em;
  text-align: center;
}

.empty_cart_text {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.empty_cart_button {
  margin: 0;
  text-align: center;

  a {
    line-height: 1.5em;
    display: block;
    padding: 10px 15px;
    width: 100%;
    height: auto;
    font-size: 16px;
    border-style: solid;
    box-shadow: none;
    outline: none;
    color: #ffffff;
    background-color: #ec1d23;
  }
}

.empty_cart_footer_container {
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
}

.cart_products_recommendations_wrapper {
  margin: 0;
  padding: 20px;
  width: 100%;
  border-style: solid;
  border-width: 0;
  background: #fafafa;
  border-color: #e3e3e3;
  padding-top: 0px;
}

.cart_products_recommendations_header {
  line-height: 1.33333em;
  letter-spacing: 0.025em;
  padding: 0;
  text-align: center;
  margin: 15px 0 0 0;
  font-size: 14px;
  font-family: 'Oswald';
  color: #ed1d24;
}

.cart_products_recommendations_grid {
  margin: 0;
  padding: 0;
}

.cart_product_recommendation_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 0;
  padding: 20px 0; 
  border-style: solid;
  border-width: 0;
  border-color: #e3e3e3;
}

.cart_product_recommendation_image_container {
  order: 1;
  flex: 0 0 auto;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 90px;
}

.cart_product_recommendation_image_container a {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 100%;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  pointer-events: auto;
}

.cart_product_recommendation_image_container a img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0px;
}

.cart_product_recommendation_info {
  order: 2;
  flex: 1 1 auto;
  text-align: left;
  margin: 0;
  padding: 0 20px;
  width: calc(100% - 170px);
}

.cart_product_recommendation_info a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
}

.cart_product_recommendation_info_price {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
}

.cart_product_recommendation_other_flavors_container {
  text-align: center;
  order: 4;
  flex: 0 0 auto;
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}

.cart_product_recommendation_other_flavors_container select {
  border: 1px solid #eaeaea;
  max-width: 100%;
  text-indent: 0.01px;
  letter-spacing: 1px;
  text-transform: none;
  display: block;
  margin: 0;
  padding: 10px 40px 10px 15px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  appearance: none;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  color: #232323;
  background-color: #ffffff;
  border-color: #cccccc;
  border-radius: 0px;
  background-image: linear-gradient(45deg, transparent 50%, #cccccc 50%), linear-gradient(135deg, #cccccc 50%, transparent 50%), linear-gradient(to right, #cccccc, #cccccc);
}

.cart_product_recommendation_add_to_cart_button_container {
  order: 3;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  width: 80px;
}

.cart_product_recommendation_add_to_cart_button {
  display: block;
  width: 100%;
  height: auto;
  border-style: solid;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
  background: #4fcbcd;
  border-color: #4fcbcd;
  border-width: 0px;
  border-radius: 0px;
}