@import url('https://fonts.googleapis.com/css2?family=Trade+Gothic+Next:wght@400;700&display=swap');

.modal_background {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2147483638;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
  pointer-events: auto;
  transform: translate(0%, 0%);
}

.modal_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  padding: 0;
  width: 500px;
  max-width: calc(100% - 20px);
  overflow: hidden;
  z-index: 2147483638;
  transition: right 0.25s ease-in-out;
  margin: 0px;
  border-radius: 0px;
  right: 0;
}

@media (max-width: 480px) {
  .modal_container {
    max-width: 100%;
  }
}

.modal_header_container {
  flex: 0 0 auto;
  position: relative;
  margin: 0;
  padding: 10px 20px;
  background: #fff;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #e3e3e3;
}

.modal_header_text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #232323;
}

.modal_header_close_button {
  position: absolute;
  top: 50%;
  right: 10px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  min-width: auto;
  min-height: auto;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  transform: translate(0, -50%);
  color: #232323;

  span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.modal_body {
  padding-top: 10px;
}

.cart_summary_container {
  font-family: 'Trade Gothic Next', sans-serif;
  flex: 0 0 auto;
  margin: 0;
  padding: 20px;
  background: #fff;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #e3e3e3;
}

.cart_sub_total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #232323;
  font-size: 16px;
}

.sub_total_text {
  text-align: left;
}

.subtotal_amount {
  display: flex;
  text-align: right;
}

.cart_action_buttons_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.cart_checkout_button {
  margin: 0;
  padding: 10px 15px;
  height: auto;
  font-size: 16px;
  border-style: solid;
  text-align: center;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  background-color: #ec1d23;
  border-color: #2491C4;
  border-width: 0;
  border-radius: 0;
  width: 100%;
  font-family: Arial;
}

.cart_checkout_button_image {
  margin-right: 5px;
}

.cart_continue_shopping_button {
  margin: 0;
  padding: 10px 15px;
  height: auto;
  font-size: 16px;
  border-style: solid;
  text-align: center;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border-width: 2px;
  width: 100%;
  color: #ec1d23;
  background: #ffffff;
  border-color: #ec1d23;
  margin-top: 10px;
  font-family: Arial;
}

.cart_footer_container {
  background: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 480px) {
  .cart_footer_container {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .cart_footer_container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cart_footer_image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 40px;
    margin-right: 10px;
  }

  span {
    line-height: 1;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #000;
  }
}

@media (max-width: 767px) {
  .cart_footer_image img {
    max-height: 30px;
    margin-right: 5px;
  }
}

@media (max-width: 480px) {
  .cart_footer_image {
    flex-direction: column;
    min-width: 86px;
    
    img {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}

.cart_modal_background {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2147483637;
  opacity: 0;
  pointer-events: none;
  transform: translate(100%, 0%);
  transition: opacity .25s ease-in-out;
}

.cart_modal_background_is_visible {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2147483637;
  opacity: 1;
  pointer-events: auto;
  transform: translate(0%, 0%);
}

.navbar_mobile_menu_modal {
  min-height: 610px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2147483638;
  transition: right 0.25s ease-in-out;
  display: none;
  animation: fadeIn .5s linear;
}

@media only screen and (max-width: 480px) {
  .navbar_mobile_menu_modal {
    display: block;
  }
}

.navbar_mobile_menu_modal_close {
  position: absolute;
  top: 12px;
  z-index: 400000;
  display: inline-block;
  border-radius: 100%;
  padding: 15px;
  color: #494949;
}

@media only screen and (max-width: 500px) {
  .navbar_mobile_menu_modal_close {
    left: 15px;
  }
}

.navbar_mobile_menu_modal_close_image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.navbar_mobile_menu_modal_close_image svg {
  height: 25px;
  width: 25px;
}

.navbar_mobile_menu_modal_content {
  transform: translateX(0px);
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: unset;
  padding: 50px 15px 0;
}

.navbar_mobile_menu_modal_content_wrapper {
  color: #E00000;
  font-size: 15px;
}

.navbar_mobile_menu_modal_content_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navbar_mobile_menu_modal_content_menu {
  border-bottom: 1px solid #E00000;
  padding: 40px 0;
}

.navbar_mobile_menu_modal_products {
  font-size: 35px;
  font-weight: 800;
  line-height: 1.1;
  margin-top: 25px;
}

.navbar_mobile_menu_modal_product_links {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.navbar_mobile_menu_modal_product_links a {
  font-size: 20px;
  line-height: 1.5;
}

.navbar_mobile_menu_modal_content_secondary_menu {
  font-size: 20px;
  border-bottom: 1px solid #E00000;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.navbar_mobile_menu_modal_footer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: center;
}

.navbar_mobile_menu_modal_footer_button {
  display: block;
  min-width: 160px;
  margin: 0 auto;
  background-color: #E00000;
  color: #fff;
  text-align: center;
  border: 2px solid #E00000;
  border-radius: 30px;
  width: 100%;
  padding: 10px 15px;
}

.navbar_mobile_menu_modal_footer_text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 10px;
}