.shipping_page_container {
  background-color: rgb(212, 255, 208);
  padding-bottom: 5px;
}

.shipping_banner_container {
  margin-top: 5%;
}

.shipping_banner_header {
  margin: -0.25em 0;
  position: relative;
  margin-left: 355px;
  padding-top: 100px;
  font-weight: 700;
  font-size: 80px;
  text-align: left;
  line-height: 1;
  max-width: 850px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 768px) {
  .shipping_banner_header {
    margin-left: 0;
    padding: 15%;
    font-size: 60px;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .shipping_banner_header {
    padding: 5%;
    font-size: 40px;
  }
}

.shipping_banner_header span {
  z-index: 1;
  color: #e00000;
  position: relative;
  font-family: sans-serif;
}

.shipping_banner_header::after {
  content: '';
  position: absolute;
  top: 27%;
  left: -25%;
  display: block;
  width: 850px;
  height: 305px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('https://cdn.shopify.com/s/files/1/0042/3834/4321/t/163/assets/title-background.png?v=169632795296154856061677573901');
}

.shipping_banner_image_wrapper {
  position: relative;
  margin-top: 4.2%;
}

.shipping_banner_image_wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 285px;
  background: rgba(27, 33, 55, 1);
  transform: translateY(-50%);
  background-color: #187677;
}

.shipping_banner_image_container {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.shipping_banner_image {
  max-width: 100%;
  display: block;
  width: 100%;
}

.shipping_info {
  margin-top: 13%;
  margin-bottom: 50px;
}

.shipping_info_wrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media only screen and (max-width: 480px) {
  .shipping_info_wrapper {
    margin: 0;
    padding: 0 5%;
  }
}

.shipping_info_header {
  max-width: 865px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -1px;
  font-family: sans-serif;
  color: #e00000;
}

@media only screen and (max-width: 480px) {
  .shipping_info_header {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.shipping_info_text {
  max-width: 615px;
  font-size: 30px;
  color: #e00000;
}

@media only screen and (max-width: 480px) {
  .shipping_info_text {
    font-size: 20px;
  }
}

.shipping_info_text p {
  margin: 0;
  line-height: normal;
  font-family: 'SpaceGrotesk-Regular', sans-serif;
}

.shipping_info_copy {
  margin-top: 13%;
  margin-bottom: 13%;
}