.main_page_container {
	display: block;
	position: relative;
	width: 100%;
}

.featured_product_container {
	display: block;
	position: relative;
	max-height: 900px;
}

.featured_product_background_image {
	background-image: url("https://cdn.shopify.com/s/files/1/0042/3834/4321/files/assets_bc154811e83d4532a4f4f57c9d96f6c3_19cb88e97fdb47c2bda59b38137313df.jpg?v=1670453993");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	width: 100%;
}

.featured_product {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 116px 110px 40px;
	max-width: 1920px;
	max-height: 900px;
}

@media (min-height: 800px) {
  .featured_product {
    padding: 116px 110px 120px;
  }
}

.featured_product div {
	flex: 1;
}

.featured_product_info {
	display: block;
	flex: 1 1 50%;
}

.featured_product_header h1 {
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 55px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 48px;
	color: #ffffff;
}

.featured_product_image {
	display: block;
	flex: 1 1 50%;
}

.featured_product_description {
	margin: 0 0 48px 0;
	line-height: 40px;
	font-weight: 400;
	color: #ffffff;
	box-sizing: border-box;
	padding: 0;
	list-style-type: none;
	margin-bottom: 0!important;
	max-width: none;
}

.featured_product_description li {
	display: block;
	position: relative;
	font-size: 20px;
	font-weight: 700;
	line-height: 34px;
	margin-left: 37px;
	height: 46px;
}

.featured_product_description li::before {
	width: 25px !important;
	height: 25px !important;
	left: -4px;
	margin: 5px -30px;
	content: "";
	background: url("https://cdn.shopify.com/s/files/1/0042/3834/4321/files/Group_2689_9c68a76c-7025-417c-b616-eb6a17156e11.png?v=1670453947");
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	top: 0px !important;
}

.featured_product_button_container {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	position: relative;
	padding: 0px 35px;
	background-color: rgb(0, 197, 193);
	height: 65px;
	max-width: 300px;
	transition: color 0.2s ease;
	margin-right: 200px;
	margin-top: 40px;
	cursor: pointer;
}

.featured_product_button_text {
	font-size: 18px;
	font-weight: 600;
	line-height: 65px;
	outline: none;
	text-align: left;
	text-decoration-color: rgb(27, 33, 55);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-thickness: auto;
}

.featured_product_image_container {
	flex: 1 1 50%;
	max-width: 850px;
}

.featured_product_image {
	display: inline;
	width: 100%;
	margin: 0 auto;
	vertical-align: middle;
	max-width: 100%;
	border-style: none;
}

// .top3_products_container {
//   padding-top: 2%;
//   padding-bottom: 2%;
//   margin-left: 0;
//   margin-right: 0;
//   max-width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   h3 {
//     margin: 0;
//   }
//   div {
//     width: 100%;
//   }
//   a {
//     margin: 0;
//   }
// }
.top3_products_container {
  padding: 90px 0;
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin: 0 auto 50px;
		min-height: 77px;
		text-align: center!important;
		width: 100%;
		font-size: 75px;
		line-height: 1;
		color: #ec1c24;
		letter-spacing: -1px;
  }

  a {
    margin: 0;
  }
}

.product_carousel_container {
	position: relative;
	width: 100%;
}

.product_carousel_cards {
	margin: 0 auto;
	position: relative;
	max-width: 1160px;
	display: flex;
	justify-content: center;
}

.product_card_container {
	width: 100%;
	display: flex;
	margin: 0 10px 20px 0;
	flex: 1 0 32%;
	padding: 20px 20px 0;
	border: 2px solid #000;
	border-radius: 25px;
	flex-direction: column;
	min-height: 693px!important;
}

.product_card_wrapper {
	display: flex;
	flex-direction: column;
	padding: 0;
	flex: 1;
	flex-grow: 1;
}

.product_card_image_container {
	width: 100%;
	align-items: flex-end;
	flex-grow: 1;
	height: fit-content!important;

	@media screen and (max-width: 1250px) {
		max-width: 70%;
		margin: 0 auto;
	}

	@media screen and (max-width: 1660px) {
		max-height: 400px;
	}
}

.product_card_image {
	width: 100%;

	@media screen and (max-width: 1024px) {
		min-height: unset;
	}
}

.product_image_wrapper {
	width: 100%;
	display: block;
	position: relative;

	img {
		max-height: 336px!important;
		width: 100%;
		object-fit: contain;
		display: flex;
		justify-content: flex-end;
		vertical-align: middle;
		max-width: 100%;
		border-style: none;
	}
}

.product_card_info_container {
	min-height: 0px;
	flex: 1 auto;
	padding-top: 35px;
	padding-bottom: 25px;
	position: relative;
}

.product_card_info_wrapper {
	display: block;
	min-height: 375px;
	margin-bottom: 0!important;
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
	text-align: center!important;
	margin: 10px 0 15px;
}

.product_card_info_column {
	h3 {
		min-height: 77px;
		text-align: center!important;
		width: 100%;
		line-height: 1.3;
		margin-right: 15px;

		a {
			color: #1b2137;
			transition: color 0.2s ease;
			text-decoration: none;
			background-color: transparent;
			font-size: 30px;
		}
	}
}

.product_review {
	text-align: center!important;
	margin-top: 15px;

	svg {
		g {
			fill: #ec1c24;
		}
	}
}

.product_card_info_product_description {
	display: flex;
	min-height: 85px;
	color: #1b2137;
	text-align: center!important;
	font-size: 17px!important;

	p {
		margin: 0;
		display: flex;
		flex-grow: .3;
		line-height: 1.2;
	}
}

.product_card_info_variants {
	min-height: 80px;
	margin-top: 20px;
	padding-bottom: 12px;
}

.product_card_variants_wrapper {
	flex-wrap: wrap;
	display: inline!important;
	line-height: 1.5em;
}

.product_card_variants_wrapper::before {
	content: "AVAILABLE IN";
	color: #ec1c24;
	font-weight: 700;
	font-size: 12px;
	box-sizing: border-box;
}

.product_card_variant {
	display: inline!important;
	margin: 0!important;
	padding: 0!important;
	align-items: center;
	padding-bottom: 0px;
	padding-right: 0px;

	div {
		color: #ec1c24;
		font-size: 13px;
		height: auto;
		margin-left: -3px;
		padding-bottom: 0px;
		width: auto;
	}
}

.shop_all_button {
	color: #1b2137;
	transition: color 0.2s ease;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	width: calc(100% - 40px);
	margin: 0 auto;
	background-image: url("https://cdn.shopify.com/s/files/1/0042/3834/4321/files/shop_arrow_icons.png?v=1667052084");
	background-position: right;
	padding: 15px;
	background-repeat: no-repeat;
	position: relative;
	max-width: 310px;
	background-size: 100% 100%!important;
	text-decoration: none;
	background-color: transparent;

	span {
		z-index: 9;
		position: relative;
	}

	span::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-color: #23bdbe;
		opacity: 0;
	}
}

.product_card_price_and_button {
	width: 100%;
	margin-left: 0!important;

	a {
		position: absolute!important;
		bottom: 20px!important;
		transition: color 0.2s ease;
		background-color: #ed1b24;
		border: #ed1b24;
		color: #fff!important;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		display: block!important;
		max-width: 100%!important;
		text-align: center!important;
		width: 100%!important;
		padding: 15px!important;
		left: 0;
		text-decoration: none;
	}
}

.product_card_price {
	color: #ec1c24;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	text-align: center;

	span {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1px;
		color: #ec1c24;
	}
}