.navbar_main {
  background-color: rgb(246, 22, 31);
}

.navbar_wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.navbar_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform .15s ease-out;
  width: 100%;
  padding: 10px;
	background-color: #ffffff;
}

.navbar_hidden {
  transform: translateY(-100%);
}

@media only screen and (min-width: 768px) {
  .navbar_container {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar_container {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .navbar_container {
    padding: 0;
  }
}

.navbar {
  display: grid;
  max-width: 1350px;
  margin: auto;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  line-height: 1.5em;
}

.navbar_left_wrapper {
  width: fit-content;
  white-space: nowrap;
  transition: all .3s ease-in-out;
	display: flex;
  order: 1;
	justify-content: flex-start;
  position: unset;
	opacity: 1;
}

.navbar_logo_wrapper {
  transition: all .3s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

.navbar_logo_image {
  vertical-align: middle;
  max-width: 450px;
  margin-bottom: 5px;
  padding-left: 5px;
	max-height: 70px;
  margin-top: 5px;
}

.navbar_middle_wrapper {
	display: flex;
	justify-content: center;
	order: 2;
}

.navbar_middle_container {
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_middle_products_container {
  display: flex;
}

.navbar_middle_more_wrapper {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  line-height: 1;
  margin-top: 0;
}

.navbar_middle_more_container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navbar_middle_button {
  letter-spacing: 1px;
  font-size: 18px;
  padding: 12px 27px;
  font-weight: 800;
  transition: .2s ease-in-out;
  min-width: 0;
}

.navbar-right-wrapper {
	display: flex;
  justify-content: flex-end;
  z-index: 999;
  align-items: center;
  gap: 30px;
  order: 3;
  top: unset;
  position: relative;
  width: 100%;
  padding: 10px 0;
  white-space: nowrap;
}

.navbar_right_button {
  position: relative;
  height: max-content;
	display: flex;
  background-color: #27bdbe;
	color: #ffffff;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  border: 2px solid #27bdbe;
  transition: color 0.2s ease;
  line-height: 1.2em;
}

.navbar_right_button_hover {
  position: relative;
  height: max-content;
  display: flex;
  background-color: #fff;
  color: #27bdbe;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  border: 2px solid #27bdbe;
  transition: color 0.2s ease;
  line-height: 1.5em;
}

.navbar_cart_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #27bdbe;
}

.navbar_cart_image {
	max-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}