.product_page_main {
  background-color: #a9dde3;
  position: relative;
}

.product_page_wrapper {
  padding: 0;
}

.product_page_container {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.product_page_maincontent {
  color: #1b2136;
  padding-bottom: 85px;
  margin-top: 28px;
}

.product_page_maincontent_breadcrumbs {
  display: flex;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 700;
  color: #FA0F0C;
  
  a {
    padding-right: 3px;
    text-align: center;
    text-transform: uppercase;
  }

  span {
    margin-right: 3px;
  }
}

.product_page_maincontent_wrapper {
  display: flex;
}

.product_page_maincontent_sideimages_wrapper {
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  max-height: 500px;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  overflow: hidden;
  display: flex;
  max-width: 56px;
  width: 100%;
  padding-top: 0;
  background-color: transparent;
}

.product_page_maincontent_sideimages_container {
  position: relative;
  overflow: hidden;
  margin: 0;
  max-width: 110px;
  width: 100%;
  padding: 0;
  height: 432px;
}

.product_page_maincontent_sideimages_image_wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  opacity: 1;
  height: 216px;
  transform: translate3d(0px, 0px, 0px);
}

.product_page_maincontent_sideimages_image_container {
  float: left;
  max-width: 90px;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  height: 56px;
  min-height: 56px;
  margin-bottom: 16px;
  padding: 0;
  border: 1px solid #FA0F0C;
  width: 56px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product_page_mainpicture_modal {
  flex-grow: 1;
  flex-basis: 0;
  align-self: flex-start;
  display: block;
  position: sticky;
  top: 0;
  max-width: 500px;
  width: 100%;
  padding: 15px 36px 0;
}

.product_page_mainpicture_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: zoom-in;
}

.product_page_mainpicture_image_wrapper {
  position: relative;
  max-width: 100%;
  width: 600px;
}

.product_page_mainpicture_image_container {
  max-width: 100%;
  position: relative;
  padding-top: 100%
}

.product_page_mainpicture_image {
  max-width: 100%;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.product_page_info_container {
  max-width: 524px;
  width: 100%;
  margin-right: 0;
  padding: 0 30px;
}

.product_page_info_header_wrapper {
  position: relative;
  width: 100%;
}

.product_page_info_header_container {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.12;
  color: #FF0303;
  text-transform: uppercase;
}

.product_page_info_header_info_container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #FA0F0C;
}

.product_page_info_header_price_container {
  margin-right: 5px;
}

.product_page_info_header_price {
  display: inline-block;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FA0F0C;
}

.product_page_info_header_reviews {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
}

.product_page_price_per {
  font-size: 14px;
  color: #949494;
}

//
.product_page_style_header {
  flex: 0 1 100%;
  margin-top: 16px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: #FF0303;
  text-transform: capitalize;
  letter-spacing: normal;
}

.product_page_styles_wrapper {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
  flex: 1 0 50%;
  position: relative;
  outline: none;
}

.product_page_styles_container {
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  position: relative;
  padding: 10px 14px;
  border: 1px solid;
  border-radius: unset;
  background-color: transparent;
  color: #FF0303;
}

.product_page_styles_arrow {
  color: #FF0303;
  width: 16px;
  height: 18px;
}

.product_page_input_information_container {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.product_page_input_quantity_container {
  position: relative;
  width: 50%;
}

.product_page_input_quantity_header {
  margin-top: 16px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: #FF0303;
  text-transform: capitalize;
  letter-spacing: normal;
}

.product_page_input_quantity_buttons {
  display: flex;
  height: 47px;
  justify-content: flex-start;
  align-items: unset;
  margin-top: 0;
  text-align: center;
  color: #FF0303;
}

.product_page_input_quantity_remove {
  width: 40px;
  border: 1px solid;
  font-size: 25px;
  line-height: 1.5;
  cursor: pointer;
}

.product_page_input_quantity_add {
  width: 40px;
  border: 1px solid;
  font-size: 25px;
  line-height: 1.5;
  cursor: pointer;
}

.product_page_input_quantity_amount {
  padding: 0 10px;
  width: 65px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: 25px;
  line-height: 1.5;
}

.product_page_product_addtocart_button_wrapper {
  width: 50%;
  margin-left: 10px;
}

.product_page_product_addtocart_button {
  width: 100%;
  position: relative;
  padding: 0;
  margin-top: 8px;
  background-color: #ec1d23;
  color: #ffffff;
  border: 2px solid #ec1d23;
  height: 47px;
  border-radius: unset;
  font-size: 15px;
  font-weight: 600;
}

.product_page_payment_buttons_container {
  margin: 12px 0;
  text-align: center;
}

.product_page_shoppay_button_wrapper {
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 44px;
  position: relative;
  z-index: 1;
}

.product_page_shoppay_button_container {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}

.product_page_shoppay_button_info {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-width: 1px !important;
  border-style: solid !important;
  line-height: 16px !important;
  text-align: center !important;
  width: 100% !important;
  outline: 0 none !important;
  font-size: 14px !important;
  cursor: pointer !important;
  flex: 1 !important;
  flex-wrap: wrap !important;
  padding: 4px !important;
  max-height: 60px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  min-height: 48px !important;
  background-color: #1b2137 !important;
  border-color: #1b2137 !important;
}

.product_page_shoppay_button_text {
  white-space: pre !important;
}

.shoppay_image {
  margin-top: 5px;
  height: 18px;
  width: 82px;
  max-width: 100%;
  max-height: 100%;
  
}

.product_page_product_description_container {
  margin-top: 12px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

//

.product_page_tabs_wrapper {
  margin-top: 24px;
  border-bottom: 1px solid #000000;
}

.product_page_tab {
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.34;
  color: #000000;
  cursor: pointer;
}

.product_page_tab_header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.product_page_tab_header::after {
  content: url("https://cdn.shopify.com/s/files/1/0042/3834/4321/t/124/assets/arrow-down-dark.svg?v=75058491936605126901668510372");
}

.product_page_tab_info_container {
  display: none;
  padding-top: 22px;
}

// 
.product_show_page_origin_container {
  border-top: 5px solid #FA0F0C;
  border-bottom: 5px solid #FA0F0C;
  background-color: #1b2137;
  color: #ffffff;
}

.product_show_page_origin_info_container {
  max-width:  1165px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 90px;
}

.product_show_page_origin_content_container {
  max-width: 605px;
  width: 60%;
  padding-right: 50px;
}

.product_show_page_origin_content_header {
  margin-bottom: 24px;
  padding-top: 150px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: normal;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 85%;
  background-image: url("https://cdn.shopify.com/s/files/1/0042/3834/4321/files/XLB-chinese.png?v=1664395286");
}

.product_show_page_origin_content_body {
  margin: 0;
  font-size: 16px;
}

.product_show_page_origin_image_container {
  max-width: 530px;
  width: 50%;
  padding-right: 32px;
}

.product_show_page_origin_image {
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  margin-bottom: 13px;
}