.products_page_main {
  position: relative;
}

.products_page_products_wrapper {
  padding-top: 5%;
  background-color: rgb(27, 33, 55);
  padding-bottom: 300px !important;
  color: #ffffff;
  position: relative;
}

.products_page_products_wrapper::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 170px;
  background: url("https://cdn.shopify.com/s/files/1/0042/3834/4321/files/top-border-image.png?v=1613163209");
  background-repeat: repeat-x;
}

.products_page_products_container {
  padding: 0;

  h1 {
    position: relative;
    color: #ffffff;
    line-height: 1;
    text-align: center;
    margin: 0;
    font-size: 56px;
    font-weight: 700;

    span {
      position: relative;
      z-index: 1;
    }
  }

  h1::after {
    content: '';
    position: absolute;
    left: -13%;
    display: block;
    width: 850px;
    height: 305px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("https://cdn.shopify.com/s/files/1/0042/3834/4321/t/124/assets/title-background.png?v=169632795296154856061668510373");
    top: -13%;
  }
}

.products_page_items_wrapper {
  padding-top: 8%;
  position: relative;
  z-index: 1;
}

.products_page_items_container {
  max-width: 1350px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto!important;
  padding-left: 5px;
  padding-right: 5px;
}

.products_page_items_column_wrapper {
  display: flex;
}

.products_page_items_column_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 1;
}

.products_page_item_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.products_page_item_container {
  display: flex;
  align-items: flex-start;
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  width: calc(33.33333% - 20px);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px 15px 65px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.products_page_item_info_container {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
}

.products_page_item_image_wrapper {
  display: flex;
  padding-bottom: 12px;
  height: fit-content !important;
  align-items: flex-end;
  flex-grow: 1;
  max-width: 70%;
  margin: 0 auto;
  width: 100%;

  div {
    width: 100%;
  }
}

.products_page_item_image {
  position: relative;
  width: 100%;

  a {
    text-decoration: none;
    background-color: transparent;
    display: block;
    color: #ffffff;

    img {
      overflow-clip-margin: content-box;
      overflow: clip;
      display: block;
      max-width: 400px;
      max-height: 450px;
      object-fit: contain;
      margin: 0 auto;
      aspect-ratio: 1.5;
    }
  }
}

.products_page_item_text_wrapper {
  flex: 1 auto;
  min-height: 170px!important;

  form {
    color: #ffffff;
    margin-top: 0em;
    box-sizing: border-box;
    display: flex;
  }
}

.products_page_item_details_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 30px 0 15px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.products_page_item_details_container {
  width: 100%;
}

.products_page_item_price_container {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products_page_item_price {
  color: #ed1b24;
  font-size: 20px;
  font-weight: 600;
}

.products_page_add_button_container {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: calc(100% - 30px);
  right: 0;
  margin: 0 auto;
}

.products_page_add_button {
  position: relative;
  letter-spacing: 1px;
  background: 0 center no-repeat url("https://cdn.shopify.com/s/files/1/0042/3834/4321/t/124/assets/menu-item-bg.png?v=79876390329209793441668510373");
  background-size: 90%;
  transition: all 0.3s ease-in-out !important;
  display: flex;
  align-items: center;
  min-width: 180px;
  height: auto;
  min-height: 36px;
  padding: 10px 10px 10px 15px;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  justify-content: center;
  background-image: none;
  background-color: #23bdbd;
  color: #1b2137;
  font-size: 20px;
  font-weight: 600;
  size-adjust: 100%;
}

.products_page_item_name {
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
  color: #1b2137;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  line-height: 1.3;
}